.logo {
	align-items: center;
	display:flex;
}

.logo img{
	width: 90px;
	height: 90px;
}

.logo span {
	font-size: 24px;
	padding-left: 5px;
}

.footer{
	text-align: center;
}

.register{
	float:right !important;
}
